
body{
  background: linear-gradient(45deg, orange, pink);
}

.header{
  margin: 5% 25% 3% 25%;
}

.clime{
  color:black;
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
}
.row{
  padding-left: 30%;
}

.ftr{
  /* margin: 5% 40% 3% 40%; */
  padding-top: 5%;
  text-align: center;
}
